aiohttp==3.9.5 ; python_version >= "3.8" and python_version < "3.12"
aiosignal==1.3.1 ; python_version >= "3.8" and python_version < "3.12"
alembic==1.13.1 ; python_version >= "3.8" and python_version < "3.12"
anyio==4.4.0 ; python_version >= "3.8" and python_version < "3.12"
apache-airflow-providers-common-io==1.3.2 ; python_version >= "3.8" and python_version < "3.12"
apache-airflow-providers-common-sql==1.14.0 ; python_version >= "3.8" and python_version < "3.12"
apache-airflow-providers-fab==1.1.1 ; python_version >= "3.8" and python_version < "3.12"
apache-airflow-providers-ftp==3.9.1 ; python_version >= "3.8" and python_version < "3.12"
apache-airflow-providers-http==4.11.1 ; python_version >= "3.8" and python_version < "3.12"
apache-airflow-providers-imap==3.6.1 ; python_version >= "3.8" and python_version < "3.12"
apache-airflow-providers-smtp==1.7.1 ; python_version >= "3.8" and python_version < "3.12"
apache-airflow-providers-sqlite==3.8.1 ; python_version >= "3.8" and python_version < "3.12"
apache-airflow==2.9.1 ; python_version >= "3.8" and python_version < "3.12"
apispec[yaml]==6.6.1 ; python_version >= "3.8" and python_version < "3.12"
appnope==0.1.4 ; python_version >= "3.8" and python_version < "3.12" and (platform_system == "Darwin" or sys_platform == "darwin")
argcomplete==3.3.0 ; python_version >= "3.8" and python_version < "3.12"
asgiref==3.8.1 ; python_version >= "3.8" and python_version < "3.12"
asttokens==2.4.1 ; python_version >= "3.8" and python_version < "3.12"
async-timeout==4.0.3 ; python_version >= "3.8" and python_version < "3.11"
attrs==23.2.0 ; python_version >= "3.8" and python_version < "3.12"
babel==2.15.0 ; python_version >= "3.8" and python_version < "3.12"
backcall==0.2.0 ; python_version >= "3.8" and python_version < "3.12"
backports-zoneinfo==0.2.1 ; python_version >= "3.8" and python_version < "3.9"
blinker==1.8.2 ; python_version >= "3.8" and python_version < "3.12"
cachelib==0.9.0 ; python_version >= "3.8" and python_version < "3.12"
certifi==2024.6.2 ; python_version >= "3.8" and python_version < "3.12"
cffi==1.16.0 ; python_version >= "3.8" and python_version < "3.12" and (implementation_name == "pypy" or platform_python_implementation != "PyPy")
charset-normalizer==3.3.2 ; python_version >= "3.8" and python_version < "3.12"
click==8.1.7 ; python_version >= "3.8" and python_version < "3.12"
clickclick==20.10.2 ; python_version >= "3.8" and python_version < "3.12"
colorama==0.4.6 ; python_version >= "3.8" and python_version < "3.12"
colorlog==4.8.0 ; python_version >= "3.8" and python_version < "3.12"
comm==0.2.2 ; python_version >= "3.8" and python_version < "3.12"
configupdater==3.2 ; python_version >= "3.8" and python_version < "3.12"
connexion[flask]==2.14.1 ; python_version >= "3.8" and python_version < "3.12"
cron-descriptor==1.4.3 ; python_version >= "3.8" and python_version < "3.12"
croniter==2.0.5 ; python_version >= "3.8" and python_version < "3.12"
cryptography==42.0.8 ; python_version >= "3.8" and python_version < "3.12"
debugpy==1.8.1 ; python_version >= "3.8" and python_version < "3.12"
decorator==5.1.1 ; python_version >= "3.8" and python_version < "3.12"
deprecated==1.2.14 ; python_version >= "3.8" and python_version < "3.12"
dill==0.3.8 ; python_version >= "3.8" and python_version < "3.12"
dnspython==2.6.1 ; python_version >= "3.8" and python_version < "3.12"
docutils==0.20.1 ; python_version >= "3.8" and python_version < "3.12"
email-validator==2.1.1 ; python_version >= "3.8" and python_version < "3.12"
exceptiongroup==1.2.1 ; python_version >= "3.8" and python_version < "3.11"
executing==2.0.1 ; python_version >= "3.8" and python_version < "3.12"
flask-appbuilder==4.4.1 ; python_version >= "3.8" and python_version < "3.12"
flask-babel==2.0.0 ; python_version >= "3.8" and python_version < "3.12"
flask-caching==2.3.0 ; python_version >= "3.8" and python_version < "3.12"
flask-jwt-extended==4.6.0 ; python_version >= "3.8" and python_version < "3.12"
flask-limiter==3.7.0 ; python_version >= "3.8" and python_version < "3.12"
flask-login==0.6.3 ; python_version >= "3.8" and python_version < "3.12"
flask-session==0.5.0 ; python_version >= "3.8" and python_version < "3.12"
flask-sqlalchemy==2.5.1 ; python_version >= "3.8" and python_version < "3.12"
flask-wtf==1.2.1 ; python_version >= "3.8" and python_version < "3.12"
flask==2.2.5 ; python_version >= "3.8" and python_version < "3.12"
frozenlist==1.4.1 ; python_version >= "3.8" and python_version < "3.12"
fsspec==2024.6.0 ; python_version >= "3.8" and python_version < "3.12"
google-re2==1.1.20240601 ; python_version >= "3.8" and python_version < "3.12"
googleapis-common-protos==1.63.1 ; python_version >= "3.8" and python_version < "3.12"
greenlet==3.0.3 ; python_version >= "3.8" and (platform_machine == "aarch64" or platform_machine == "ppc64le" or platform_machine == "x86_64" or platform_machine == "amd64" or platform_machine == "AMD64" or platform_machine == "win32" or platform_machine == "WIN32") and python_version < "3.12"
grpcio==1.64.1 ; python_version >= "3.8" and python_version < "3.12"
gunicorn==22.0.0 ; python_version >= "3.8" and python_version < "3.12"
h11==0.14.0 ; python_version >= "3.8" and python_version < "3.12"
httpcore==1.0.5 ; python_version >= "3.8" and python_version < "3.12"
httpx==0.27.0 ; python_version >= "3.8" and python_version < "3.12"
idna==3.7 ; python_version >= "3.8" and python_version < "3.12"
importlib-metadata==7.1.0 ; python_version >= "3.8" and python_version < "3.12"
importlib-resources==6.4.0 ; python_version >= "3.8" and python_version < "3.12"
inflection==0.5.1 ; python_version >= "3.8" and python_version < "3.12"
ipykernel==6.29.4 ; python_version >= "3.8" and python_version < "3.12"
ipython==8.12.3 ; python_version >= "3.8" and python_version < "3.12"
itsdangerous==2.2.0 ; python_version >= "3.8" and python_version < "3.12"
jedi==0.19.1 ; python_version >= "3.8" and python_version < "3.12"
jinja2==3.1.4 ; python_version >= "3.8" and python_version < "3.12"
jmespath==1.0.1 ; python_version >= "3.8" and python_version < "3.12"
jsonschema-specifications==2023.12.1 ; python_version >= "3.8" and python_version < "3.12"
jsonschema==4.22.0 ; python_version >= "3.8" and python_version < "3.12"
jupyter-client==8.6.2 ; python_version >= "3.8" and python_version < "3.12"
jupyter-core==5.7.2 ; python_version >= "3.8" and python_version < "3.12"
lazy-object-proxy==1.10.0 ; python_version >= "3.8" and python_version < "3.12"
limits==3.12.0 ; python_version >= "3.8" and python_version < "3.12"
linkify-it-py==2.0.3 ; python_version >= "3.8" and python_version < "3.12"
lockfile==0.12.2 ; python_version >= "3.8" and python_version < "3.12"
mako==1.3.5 ; python_version >= "3.8" and python_version < "3.12"
markdown-it-py==3.0.0 ; python_version >= "3.8" and python_version < "3.12"
markupsafe==2.1.5 ; python_version >= "3.8" and python_version < "3.12"
marshmallow-oneofschema==3.1.1 ; python_version >= "3.8" and python_version < "3.12"
marshmallow-sqlalchemy==0.28.2 ; python_version >= "3.8" and python_version < "3.12"
marshmallow==3.21.2 ; python_version >= "3.8" and python_version < "3.12"
matplotlib-inline==0.1.7 ; python_version >= "3.8" and python_version < "3.12"
mdit-py-plugins==0.4.1 ; python_version >= "3.8" and python_version < "3.12"
mdurl==0.1.2 ; python_version >= "3.8" and python_version < "3.12"
methodtools==0.4.7 ; python_version >= "3.8" and python_version < "3.12"
more-itertools==10.2.0 ; python_version >= "3.8" and python_version < "3.12"
multidict==6.0.5 ; python_version >= "3.8" and python_version < "3.12"
nest-asyncio==1.6.0 ; python_version >= "3.8" and python_version < "3.12"
numpy==1.24.4 ; python_version >= "3.8" and python_version < "3.9"
numpy==1.26.4 ; python_version < "3.12" and python_version >= "3.9"
opentelemetry-api==1.25.0 ; python_version >= "3.8" and python_version < "3.12"
opentelemetry-exporter-otlp-proto-common==1.25.0 ; python_version >= "3.8" and python_version < "3.12"
opentelemetry-exporter-otlp-proto-grpc==1.25.0 ; python_version >= "3.8" and python_version < "3.12"
opentelemetry-exporter-otlp-proto-http==1.25.0 ; python_version >= "3.8" and python_version < "3.12"
opentelemetry-exporter-otlp==1.25.0 ; python_version >= "3.8" and python_version < "3.12"
opentelemetry-proto==1.25.0 ; python_version >= "3.8" and python_version < "3.12"
opentelemetry-sdk==1.25.0 ; python_version >= "3.8" and python_version < "3.12"
opentelemetry-semantic-conventions==0.46b0 ; python_version >= "3.8" and python_version < "3.12"
ordered-set==4.1.0 ; python_version >= "3.8" and python_version < "3.12"
packaging==24.0 ; python_version >= "3.8" and python_version < "3.12"
pandas==1.4.4 ; python_version >= "3.8" and python_version < "3.12"
parso==0.8.4 ; python_version >= "3.8" and python_version < "3.12"
pathspec==0.12.1 ; python_version >= "3.8" and python_version < "3.12"
pendulum==3.0.0 ; python_version >= "3.8" and python_version < "3.12"
pexpect==4.9.0 ; python_version >= "3.8" and python_version < "3.12" and sys_platform != "win32"
pickleshare==0.7.5 ; python_version >= "3.8" and python_version < "3.12"
pkgutil-resolve-name==1.3.10 ; python_version >= "3.8" and python_version < "3.9"
platformdirs==4.2.2 ; python_version >= "3.8" and python_version < "3.12"
pluggy==1.5.0 ; python_version >= "3.8" and python_version < "3.12"
prison==0.2.1 ; python_version >= "3.8" and python_version < "3.12"
prompt-toolkit==3.0.46 ; python_version >= "3.8" and python_version < "3.12"
protobuf==4.25.3 ; python_version >= "3.8" and python_version < "3.12"
psutil==5.9.8 ; python_version >= "3.8" and python_version < "3.12"
ptyprocess==0.7.0 ; python_version >= "3.8" and python_version < "3.12" and sys_platform != "win32"
pure-eval==0.2.2 ; python_version >= "3.8" and python_version < "3.12"
pycparser==2.22 ; python_version >= "3.8" and python_version < "3.12" and (implementation_name == "pypy" or platform_python_implementation != "PyPy")
pygments==2.18.0 ; python_version >= "3.8" and python_version < "3.12"
pyjwt==2.8.0 ; python_version >= "3.8" and python_version < "3.12"
pymysql==1.1.1 ; python_version >= "3.8" and python_version < "3.12"
python-daemon==3.0.1 ; python_version >= "3.8" and python_version < "3.12"
python-dateutil==2.9.0.post0 ; python_version >= "3.8" and python_version < "3.12"
python-dotenv==1.0.1 ; python_version >= "3.8" and python_version < "3.12"
python-nvd3==0.16.0 ; python_version >= "3.8" and python_version < "3.12"
python-slugify==8.0.4 ; python_version >= "3.8" and python_version < "3.12"
pytz==2024.1 ; python_version >= "3.8" and python_version < "3.12"
pywin32==306 ; sys_platform == "win32" and platform_python_implementation != "PyPy" and python_version >= "3.8" and python_version < "3.12"
pyyaml==6.0.1 ; python_version >= "3.8" and python_version < "3.12"
pyzmq==26.0.3 ; python_version >= "3.8" and python_version < "3.12"
referencing==0.35.1 ; python_version >= "3.8" and python_version < "3.12"
requests-toolbelt==1.0.0 ; python_version >= "3.8" and python_version < "3.12"
requests==2.32.3 ; python_version >= "3.8" and python_version < "3.12"
rfc3339-validator==0.1.4 ; python_version >= "3.8" and python_version < "3.12"
rich-argparse==1.5.0 ; python_version >= "3.8" and python_version < "3.12"
rich==13.7.1 ; python_version >= "3.8" and python_version < "3.12"
rpds-py==0.18.1 ; python_version >= "3.8" and python_version < "3.12"
setproctitle==1.3.3 ; python_version >= "3.8" and python_version < "3.12"
setuptools==70.0.0 ; python_version >= "3.8" and python_version < "3.12"
six==1.16.0 ; python_version >= "3.8" and python_version < "3.12"
sniffio==1.3.1 ; python_version >= "3.8" and python_version < "3.12"
sqlalchemy-jsonfield==1.0.2 ; python_version >= "3.8" and python_version < "3.12"
sqlalchemy-utils==0.41.2 ; python_version >= "3.8" and python_version < "3.12"
sqlalchemy==1.4.52 ; python_version >= "3.8" and python_version < "3.12"
sqlparse==0.5.0 ; python_version >= "3.8" and python_version < "3.12"
stack-data==0.6.3 ; python_version >= "3.8" and python_version < "3.12"
structlog==24.2.0 ; python_version >= "3.8" and python_version < "3.12"
tabulate==0.9.0 ; python_version >= "3.8" and python_version < "3.12"
tenacity==8.3.0 ; python_version >= "3.8" and python_version < "3.12"
termcolor==2.4.0 ; python_version >= "3.8" and python_version < "3.12"
text-unidecode==1.3 ; python_version >= "3.8" and python_version < "3.12"
tornado==6.4 ; python_version >= "3.8" and python_version < "3.12"
traitlets==5.14.3 ; python_version >= "3.8" and python_version < "3.12"
typing-extensions==4.12.1 ; python_version >= "3.8" and python_version < "3.12"
tzdata==2024.1 ; python_version >= "3.8" and python_version < "3.12"
uc-micro-py==1.0.3 ; python_version >= "3.8" and python_version < "3.12"
unicodecsv==0.14.1 ; python_version >= "3.8" and python_version < "3.12"
universal-pathlib==0.2.2 ; python_version >= "3.8" and python_version < "3.12"
urllib3==2.2.1 ; python_version >= "3.8" and python_version < "3.12"
wcwidth==0.2.13 ; python_version >= "3.8" and python_version < "3.12"
werkzeug==2.3.8 ; python_version >= "3.8" and python_version < "3.12"
wirerope==0.4.7 ; python_version >= "3.8" and python_version < "3.12"
wrapt==1.16.0 ; python_version >= "3.8" and python_version < "3.12"
wtforms==3.1.2 ; python_version >= "3.8" and python_version < "3.12"
yarl==1.9.4 ; python_version >= "3.8" and python_version < "3.12"
zipp==3.19.2 ; python_version >= "3.8" and python_version < "3.12"
